*
{
	margin :0;
	padding:0;
}

header
{

    background-image: url('doctor.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;

}

.hrt
{

    background-image: url('heart2.jpg');
    background-position: right;
    background-size: cover;
    height: 100vh;

}

.dbt
{

    background-image: url('diabetes.jpg');
    background-position: right;
    background-size: cover;
    height: 100vh;
}

.bcr
{

    background-image: url('cancer1.jpg');
    background-position: right;
    background-size: cover;
    height: 100vh;
}

.head
{
    font-size: 50px;
    margin-left:50%;
}

.head1
{
    font-size: 50px;
}
.head2 {
    font-size: 50px;
}

.frm
{
    float: center;
    margin-top: 3%;
    margin-left: 50%;
}

.frm1
{
    float: center;
    margin-top: 3%;

}

.frm2
{
    float: center;
    margin-top: 3%;
}

.o{
    margin-top: 2%;
    margin-left: 50%    ;
}

.o1{
    margin-top: 2%;
}

.o2{
    margin-top: 2%;
}


.ho {
    margin-left: 50%;
    margin-top: 5%;
}

.ho1 {

    margin-top: 3%;
    background-color: aliceblue;
    font: outline;
}

.ho2
{
    margin-top: 3%;
    margin-left: 50%;
}

.btn1
{
    color:rgb(1, 14, 3);
    height: 30px;
    width: 110px;
    background-color: rgb(16, 198, 243);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;

    
}

.btn2
{
    color:rgb(1, 14, 3);
    height: 30px;
    width: 140px;
    background-color: rgb(24, 245, 142);
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

.btn3
{
    color:rgb(13, 2, 37);
    height: 30px;
    width: 140px;
    background-color: rgb(202, 192, 212);
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
    
}

.nav-menu
{
    float: center;
    list-style: square;
    

}

.nav-menu li {
    display: inline-table;
    margin-top: 300px;
}



.nav-menu li a {
	color:rgb(1, 14, 3);
	text-decoration:none;
	padding:25px 25px; 
	font-family: "Verdana","sans-serif";
	font-size: 25px;
}
.nav-menu li a:hover {
	border:1px solid grey;
	background-color: turquoise;
}
